footer {
  border-top: 3px solid var(--gold-color);
  background-color: var(--maroon-color);
  color: #fffdf9;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer > div {
  padding-top: 36px;
  padding-bottom: 36px;
  text-align: center;
}

footer .footer p:first-child {
  margin-bottom: 8px;
  color: #fffdf9;
  font-family: var(--heading-font-family);
  font-size: 22px;
  font-weight: 700;
}

footer .footer p:last-child {
  color: #e6d9d4;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
